@page
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> Localizer

@{
ViewData["Title"] = Localizer["HomePageTitle"];
}

<div class="container">
    <div class="row hero-section">
        <div class="col-md-12 text-center">
            <h1>@Localizer["CraftingTechnicalSolutionsHeading"]</h1>
            <p class="lead">@Localizer["FromCodeToCommunicationSubheading"]</p>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h1>@Localizer["WelcomeToMyPortfolio"]</h1>
                <p>@Localizer["InterestInMyWork"]</p>
                <p>@Localizer["DownloadCV"] <a href="~/docs/CV - Oreste BO+(EN).pdf" download="CV Oreste TWIZEYIMANA">@Localizer["DownloadCV"]</a></p>

                <p>@Localizer["ShapingYourVision"]</p>

                <div class="row skills-section">
                    @foreach (var skillCategory in Model.DeveloperSkills)
                    {
                    <div class="col-md-6">
                        <h3>@Localizer[skillCategory.Key]</h3>
                        <div class="skill-box">
                            @foreach (var skill in skillCategory.Value)
                            {
                            <p class="skill-item">@Localizer[skill]</p>
                            }
                        </div>
                    </div>
                    }
                </div>
                <p>@Localizer["SeekingCollaboration"]</p>
            </div>
        </div>
    </div>
</div>
